<% provide(:title, @bar.bar_name) %>
<div class ="row">
	<aside class="span4">
		<section>
			<h1><%= @bar.bar_name %></h1>
		</section>
	</aisde>
	<div class="span8">
		<%= render 'manage_form' if signed_in? %>

		<% if flash[:alert] %>
			<%= flash[:alert] %>
			<%= @variable %>
		<% else %>
			<%= "Aaron is a rails noob"%>
		<% end %>
	</div>
</div>